/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2017, 5:56:49 PM
    Author     : Elliot Martinez
*/

body {
font-family: 'Quicksand', sans-serif;

}

#header_text h1, #header_text p{
    margin-top: 200px;
    color: white;
    text-shadow: 3px 3px 0px #000;
    
    
}

#header_text h4 {
    color: white;
    text-shadow: 3px 3px 0px #000;
}

#header-img {
    min-height: 300px;
    background-image: url('../images/headerhome.jpg');
}

.logo p {
    display: inline;
    
}
.logo {
  margin-top: -15px;  
}

.main-raised {
    margin-top: -250px;
}
