/* 
    Created on : Mar 6, 2017, 5:56:49 PM
    Author     : Elliot Martinez
*/

body {
font-family: 'Quicksand', sans-serif;

}

#header_text h1{
    margin-top: 170px;
    color: white;
    text-shadow: 3px 3px 0px #000;
    
    
}
#header_text h3 {
    color: white;
    text-shadow: 3px 3px 0px #000;
}

#header_text h4 {
    color: white;
    text-shadow: 3px 3px 0px #000;
}

#header-img {
    min-height: 500px;
    background-image: url('../images/headerhome.jpg');
}

.logo p {
    display: inline;
    
}
.logo {
  margin-top: -15px;  
}

.main-raised {
   
}
#faq {
    text-align: center;
    margin-top: 200px;
 
}


#faqContent h3 {
    color: #FF992C;
}

footer a, footer a:hover, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, 
#brand:hover{
    color: #FF992C;
}

#header-img404 {
    min-height: 700px;
    background-image: url('../images/headerhome.jpg');
}

#mapouter {
    margin-top: 50px;
    margin-bottom: 50px;
}

#build {
    color: #FF992C;
}
#consultation {
    color: #00003C;
}
#delivery {
    color: #00B83C;
}
#maptext {
    margin-top: 20px;
}

#header-img-login {
    min-height: 700px;
    background-image: url('../images/login-header.jpg');
}

#login-footer {
    margin-top: -100px;
    color: white;
    text-align: center;
}

#login-card {
    margin-top: 200px;
    min-height: 300px;
}

#card-head, #card-head h4{
    background-color:#FF992c;
    color: white;
}

#input {
    width: 90%;
}

#card-content {
    width: auto;
    padding-top: 40px;
}

#username {
    width: 200px;
}

#icon-image img{
    width: 300px;
    height: 300px;
    margin-top: -270px;
    margin-left: auto;
    margin-right: auto;
}

#faq-icon  img{
    margin-top: -200px;
    width: 300px;height: 300px;
    margin-left: auto; margin-right: auto;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

#login-button, #login-button:hover{
   margin-left: 36%;
   background-color: #FF992C;
}

#btn, #btn:hover {
    background-color:#FF992C;
}

